{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "4"
        }
      }
    ]
  ],
  "plugins": [
    "syntax-export-extensions",
    "transform-object-rest-spread",
    "transform-react-jsx"
  ]
}
