sudo: false
language: node_js

cache:
  directories:
  - node_modules

node_js:
- '5'
- '6'
- '7'
- '8'

after_success:
  - ./node_modules/.bin/codecov

script: npm test

branches:
  only:
  - master
