sudo: false
language: node_js

cache:
  directories:
  - node_modules

notifications:
  email: false

node_js:
- '6'
- '7'

after_success:
  - ./node_modules/.bin/codecov
  - yarn run semantic-release

script: yarn test

branches:
  only:
  - master
  - /^greenkeeper-.*$/
  except:
  - /^v\d+\.\d+\.\d+$/
